<header>
  <h2>BlogsMate</h2>
  <span>
    <% if (locals.loggedIn === true) { %>
    <h2>Welcome User</h2>
    <form action="/logout" method="post">
      <input type="submit" value="Logout" />
    </form>
    <% } else { %>
    <form action="/login" method="post">
      <input type="submit" value="Login" />
    </form>
    <% } %>
  </span>
</header>
